.grid-container {
	display: grid;
	grid-template-columns: 30% auto 30%;
	grid-gap: 10px

}

.grid-container > div{
	border: 1px solid black;
	font-size: 30px;
	text-align: center;
	background-color: antiquewhite;
    
}

#header{
	grid-column: 1/span 3;
}
#main1{
	grid-column: 1/span 1;
}
#main2{
	grid-column: 2/span 2;
}
#main3{
	grid-column: 1/span 3;
}
#footer1{
	grid-column: 1/span 1;
}
#footer1 img{
	width: 80%;
}
#footer2{
	grid-column: 2/span 1;
}
#footer2 img{
	width: 80%;
}
#footer3{
	grid-column: 3/span 1;
}
#footer3 img{
	width: 80%;
}
#footer4{
	grid-column: 1/span 3;
}
button{
	font-size: larger;
}
#footer4 img{
	width: 80%;
}

@media only screen and (max-width: 768px) {
	.grid-container {
		display: grid;
		grid-template-columns: auto 50%;
		grid-gap: 10px
	
	}
	
	.grid-container > div{
		border: 1px solid black;
		font-size: 30px;
		text-align: center;
		background-color: antiquewhite;
		
	}
	
	#header{
		grid-column: 1/span 2;
	}
	#main1{
		grid-column: 1/span 1;
	}
	#main2{
		grid-column: 2/span 1;
	}
	#main3{
		grid-column: 1/span 2;
	}
	#footer1{
		grid-column: 1/span 1;
	}
	#footer1 img{
		width: 80%;
	}
	#footer2{
		grid-column: 2/span 1;
	}
	#footer2 img{
		width: 80%;
	}
	#footer3{
		grid-column: 1/span 2;
	}
	#footer3 img{
		size: 20%;
	}
	#footer4{
		grid-column: 1/span 2;
	}
	button{
		font-size: larger;
	}
	#footer4 img{
		size: 20%;
	}
	
}

@media only screen and (max-width: 480px) {
	.grid-container {
		display: grid;
		grid-template-columns: auto;
		grid-gap: 10px
	
	}
	
	.grid-container > div{
		border: 1px solid black;
		font-size: 30px;
		text-align: center;
		background-color: antiquewhite;
		
	}
	
	#header{
		grid-column: 1/span 1;
	}
	#main1{
		grid-column: 1/span 1;
	}
	#main2{
		grid-column: 1/span 1;
	}
	#main3{
		grid-column: 1/span 1;
	}
	#footer1{
		grid-column: 1/span 1;
	}
	#footer1 img{
		size: 10%;
	}
	#footer2{
		grid-column: 1/span 1;
	}
	#footer2 img{
		size: 10%;
	}
	#footer3{
		grid-column: 1/span 1;
	}
	#footer3 img{
		size: 10%;
	}
	#footer4{
		grid-column: 1/span 1;
	}
	button{
		font-size: larger;
	}
	#footer4 img{
		size: 10%;
	}
}